.main {
  background-image: linear-gradient(to right, rgb(255, 67, 67), purple);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-size: 2rem;
  //z-index: 2;
}

.main2 {
  &-card {
    background-image: linear-gradient(to right bottom, #f47a17, #f47a17);
    margin-top: 8rem;
    width: 50rem;
    min-height: 40rem;

    box-shadow: none;
    border-radius: 0 8rem 0 8rem;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    &:hover {
      transform: scale(1.02);
    }
    &__content {
      font-size: 2rem;
      text-align: center;
      line-height: 3rem;
    }
  }
}

.submit-button {
  width: 15rem;
}
.search {
  margin-top: 10rem;
}
