#scatter {
  font-size: 2rem;
}

.main {
  background-repeat: no-repeat;
  //background-position: center;
  background-size: cover;
  //background-image: linear-gradient(orange, purple);
  min-height: 100vh;
}
