mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

.nav {
  &-list {
    &__item {
      list-style: none;
      font-size: 2rem;
      //list-style: none;

      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        color: purple;
      }
      &-icon {
        margin-left: 0.5rem;
      }
    }
  }
}

.sidenav {
  width: 20rem;
  background: linear-gradient(rgba(255, 166, 0, 0.7), rgba(128, 0, 128, 0.7));
}

.active {
  border-bottom: 1px white solid;
}

.matlist {
  color: white !important;
}

.res {
  position: absolute;
  background-color: transparent;
  z-index: 20;
}

.example-icon {
  color: white;
}
