<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" #sidenav>
    <mat-nav-list
      role="list"
      fxLayoutAlign="center center"
      fxLayout="column"
      fxLayoutGap="2rem"
      fxLayoutAlign="center end"
    >
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/home"
        (click)="sidenav.close()"
        class="matlist"
        >home
      </mat-list-item>
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/covid19"
        (click)="sidenav.close()"
        class="matlist"
        >statistics
      </mat-list-item>
      <mat-list-item
        role="listitem"
        fxLayoutAlign="center center"
        routerLink="/covid19/app-area-chart"
        (click)="sidenav.close()"
        class="matlist"
        >chart
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="res">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
        fxLayoutAlign="center center"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <div class="nav" fxHide.lt-md fxFlex>
        <ul
          class="nav-list"
          fxLayout="row"
          fxLayoutGap="3rem"
          fxLayoutAlign="start center"
        >
          <li class="nav-list__item">
            <a
              routerLink="/home"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >home<mat-icon class="nav-list__item-icon">home</mat-icon></a
            >
          </li>
          <li class="nav-list__item">
            <a
              routerLink="/covid19"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >statistics<mat-icon class="nav-list__item-icon"
                >masks</mat-icon
              ></a
            >
          </li>
          <li class="nav-list__item">
            <a
              routerLink="/covid19/app-area-chart"
              routerLinkActive="active"
              fxLayoutAlign="center center"
              >chart<mat-icon class="nav-list__item-icon"
                >show_chart</mat-icon
              ></a
            >
          </li>
          <form fxFlexAlign="end" class="example-form">
            <!-- <mat-form-field fxFlexAlign="end" class="example-full-width">
              <mat-label>Search Country</mat-label>
              <input matInput placeholder="Ex. Pizza" value="Vancouver" />
            </mat-form-field> -->
          </form>
        </ul>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
