.main {
  background-image: url(../../assets/StockSnap_UXKGGVITKM.jpg);
  background-repeat: no-repeat;
  //background-position: center;
  background-size: cover;
  //background-image: linear-gradient(orange, purple);
  min-height: 100vh;
}
